
html
{
  scroll-behavior: smooth;
}
body {
  padding-top: 0px;
  background-image: url("img/background2.png");
  background-color: #cccccc;
  width:100%;
  height:100%;
}
#particles-js
{
  height: 100px;
  width: 100%;
  background-color: rgb(102,153,204);
  /*background-image: url("");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-bottom: 0px;
  margin-top: 0px
}
h2
{
  text-align: center;
  margin-top: 20px;
  color: "#000";
}
#overlay {
   /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 200px; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#profile
{
  border-radius: 25px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 40%;
  opacity: 1.0;

}

#banner
{
  width:100%;
  height:200px
}

#social-media-banner
{
  margin-top: 0px;
  padding-top:25px;
  vertical-align: center;
}

#logo
{
  margin-left: 10px;
  margin-right: 10px;
}
#tabs{
	background: #007b5e;
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
}
.background {
  /* The image used */
  background-image: url("../img/animal-avian-bird-875858.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mybutton
{
  cursor: pointer;
}
#pictureproject
{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}
#name{
  padding-top: 100px;
  padding-bottom: 50px;
  color: #ffff;
}
#tag
{
  padding-bottom: 75px;
  color: #ffff;
}

#mytext
{
  opacity = 1.0;
}
#cardfull
{
  border-radius:25px;
}
#divider
{
  position: fixed;
}
